*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: white;
  font-size: 100%;
  padding: 0;
  margin: 0; }

.container
header {
  padding: 2.875em 1.875em 1.875em;
  width: 90%;
  max-width: 69em;
  margin: 0 auto;
  background-color: red; }
  .container
header h1 {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0 0 0.6em 0; }

.bigmenu {
  width: 100%;
  margin-top: 2em;
  border-bottom: 4px solid red; }
  .bigmenu ul {
    width: 90%;
    max-width: 70em;
    margin: 0 auto;
    padding: 0 1.875em;
    list-style-type: none; }
    .bigmenu ul li {
      display: inline-block; }

.bigmenu .submenu-inner {
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1.875em; }

.bigmenu > ul > li.cbp-hropen a, .bigmenu > ul > li.cbp-hropen > a:hover {
  color: #fff;
  background: #47a3da; }

.bigmenu > ul > li > a {
  font-weight: 700;
  padding: 1em 2em;
  color: #999;
  display: inline-block; }

a {
  color: #f0f0f0;
  text-decoration: none; }

.cbp-hropen .submenu {
  display: block;
  padding-bottom: 3em; }

.bigmenu .submenu {
  display: none;
  position: absolute;
  background: red;
  width: 100%;
  left: 0; }

.bigmenu .submenu-inner > div {
  width: 33%;
  float: left;
  padding: 0 2em 0; }

.submenu h4 {
  color: #afdefa;
  padding: 2em 0 0.6em;
  margin: 0;
  font-size: 160%;
  font-weight: 300; }

.bigmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.bigmenu > ul > li.cbp-hropen a, .bigmenu > ul > li.cbp-hropen > a:hover {
  color: #fff;
  background: #47a3da; }

.bigmenu .submenu-inner > div a {
  line-height: 2em; }

.bigmenu {
  width: 100%;
  margin-top: 2em;
  border-bottom: 4px solid #47a3da; }

/* general ul style */
.bigmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* first level ul style */
.bigmenu > ul,
.bigmenu .submenu-inner {
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1.875em; }

.bigmenu > ul > li {
  display: inline-block; }

.bigmenu > ul > li > a {
  font-weight: 700;
  padding: 1em 2em;
  color: #999;
  display: inline-block; }

.bigmenu > ul > li > a:hover {
  color: #47a3da; }

.bigmenu > ul > li.cbp-hropen a,
.bigmenu > ul > li.cbp-hropen > a:hover {
  color: #fff;
  background: #47a3da; }

/* sub-menu */
.bigmenu .submenu {
  display: none;
  position: absolute;
  background: #47a3da;
  width: 100%;
  left: 0; }

.cbp-hropen .submenu {
  display: block;
  padding-bottom: 3em; }

.bigmenu .submenu-inner > div {
  width: 33%;
  float: left;
  padding: 0 2em 0; }

.bigmenu .submenu-inner:before,
.bigmenu .submenu-inner:after {
  content: " ";
  display: table; }

.bigmenu .submenu-inner:after {
  clear: both; }

.bigmenu .submenu-inner > div a {
  line-height: 2em; }

.submenu h4 {
  color: #afdefa;
  padding: 2em 0 0.6em;
  margin: 0;
  font-size: 160%;
  font-weight: 300; }

/* Examples for media queries */
@media screen and (max-width: 52.75em) {
  .bigmenu {
    font-size: 80%; } }

@media screen and (max-width: 43em) {
  .bigmenu {
    font-size: 120%;
    border: none; }
  .bigmenu > ul,
  .bigmenu .submenu-inner {
    width: 100%;
    padding: 0; }
  .bigmenu .submenu-inner {
    padding: 0 2em;
    font-size: 75%; }
  .bigmenu > ul > li {
    display: block;
    border-bottom: 4px solid #47a3da; }
  .bigmenu > ul > li > a {
    display: block;
    padding: 1em 3em; }
  .bigmenu .submenu {
    position: relative; }
  .submenu h4 {
    padding-top: 0.6em; } }

@media screen and (max-width: 36em) {
  .bigmenu .submenu-inner > div {
    width: 100%;
    float: none;
    padding: 0 2em; } }

.bigmenu > ul > li {
  display: inline-block; }

.bigmenu > ul > li > a {
  font-weight: 700;
  padding: 1em 2em;
  color: #999;
  display: inline-block; }
