//colors
$color_shakespeare_approx: #47a3da
$color_gallery_approx: #f0f0f0
$color_celeste_approx: #d0d0d0
$silver: #c0c0c0
$white: #fff

//fonts
$font_0: Lato
$font_1: Calibri
$font_2: Arial
$font_3: sans-serif
$font_4: fontawesome

//@extend-elements
//original selectors
//body, html
.extend_1
	font-size: 100%
	padding: 0
	margin: 0


//original selectors
//.main, .container > header
.extend_2
	width: 90%
	max-width: 69em
	margin: 0 auto
	padding: 0 1.875em 3.125em 1.875em



*
	//If you use compass, instead of the line below you could use + box-sizing($bs)
	box-sizing: border-box
	&:after
		//If you use compass, instead of the line below you could use + box-sizing($bs)
		box-sizing: border-box

	&:before
		//If you use compass, instead of the line below you could use + box-sizing($bs)
		box-sizing: border-box


body
	@extend %extend_1
	font-family: $font_0, $font_1, $font_2, $font_3
	color: $color_shakespeare_approx

html
	@extend %extend_1

.clearfix
	&:before
		content: " "
		display: table

	&:after
		content: " "
		display: table


.main
	@extend %extend_2

.cbp-vm-switcher
	padding: 20px
	border: 3px solid $color_shakespeare_approx
	ul
		list-style: none
		padding: 0
		margin: 0
		&:before
			content: " "
			display: table

		&:after
			content: " "
			display: table
			clear: both



.cbp-vm-options
	text-align: right
	padding-bottom: 10px
	border-bottom: 3px solid $color_shakespeare_approx
	a
		display: inline-block
		width: 40px
		height: 40px
		overflow: hidden
		overflow-x: hidden
		overflow-y: hidden
		white-space: nowrap
		color: $color_celeste_approx
		margin: 2px
		&:hover
			color: $color_shakespeare_approx

		&.cbp-vm-selected
			color: $color_shakespeare_approx

		&:before
			width: 40px
			height: 40px
			line-height: 40px
			font-size: 30px
			text-align: center
			display: inline-block



a
	color: $color_gallery_approx
	text-decoration: none

.cbp-vm-view-grid
	ul
		text-align: center
		li
			width: 33%
			text-align: center
			padding: 25px
			margin: 20px 0 0
			display: inline-block
			min-height: 420px
			vertical-align: top


	.cbp-vm-title
		font-size: 2em

	.cbp-vm-price
		margin: 10px 0
		font-size: 1.5em

	.cbp-vm-details
		max-width: 300px
		min-height: 70px
		margin: 0 auto


.cbp-vm-view-list
	li
		padding: 20px 0
		white-space: nowrap

	.cbp-vm-image
		display: inline-block
		vertical-align: middle
		width: 10%

	.cbp-vm-title
		display: inline-block
		vertical-align: middle
		font-size: 1.3em
		padding: 0 10px
		white-space: normal
		width: 23%

	.cbp-vm-details
		display: inline-block
		vertical-align: middle
		width: 40%
		padding: 0 15px
		overflow: hidden
		white-space: normal

	.cbp-vm-price
		display: inline-block
		vertical-align: middle
		font-size: 1.3em
		width: 10%

	.cbp-vm-add
		display: inline-block
		vertical-align: middle


.cbp-vm-image
	display: block
	margin: 0 auto

.cbp-vm-title
	margin: 0
	padding: 0

.cbp-vm-price
	color: $silver

.cbp-vm-add
	color: $white
	background: $color_shakespeare_approx
	padding: 10px 20px
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 2px
	margin: 20px 0 0
	display: inline-block

.container > header
	padding: 2.875em 1.875em 1.875em
	@extend %extend_2
	h1
		font-size: 2.125em
		line-height: 1.3
		margin: 0 0 0.6em 0
		float: left
		font-weight: 400

	nav
		float: right
		text-align: center
		color: $color_shakespeare_approx

	> span
		display: block
		position: relative
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 0.5em
		padding: 0 0 0.6em 0.1em


.cbp-vm-grid:before
	content: "\f00a"

.cbp-vm-list:before
	content: "\f00b"

.cbp-vm-icon:before
	font-family: $font_4
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
