/*OTHER*/
/*styles the placeholder text for different browsers*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}
/*I believe this applies to all elements both before and after. Splits the
form content into three columns*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*need to learn what these two bits do*/
html[Attributes Style] {
  -webkit-locale: "en";
}
user agent stylesheethtml {
  display: block;
}
/*so it doesn't display the head section of the html? That's my guess at
least*/
head {
  display: none;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #fff;
  background: #47a3da;
}

div {
    display: block;
}

/*HEADER SECTION*/
/*the header section....duh*/
.container > header {
  width: 90%;
  max-width: 69em;
  margin: 0 auto;
  padding: 2.875em 1.875em 1.875em;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.container > header > span {
  display: block;
  position: relative;
  z-index: 9999;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
  width: 30px;
  height: 30px;
  left: -12px;
  font-size: 50%;
  top: -8px;
  font-size: 75%;
  position: relative;
}

.bp-icon-about:after {
  content: "\e003";
}

.bp-icon:after {
  font-family: 'bpicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.container > header > span span:hover:before {
  content: attr(data-content);
  text-transform: none;
  text-indent: 0;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 110%;
  padding: 0.8em 1em;
  line-height: 1.2;
  text-align: left;
  left: auto;
  margin-left: 4px;
  position: absolute;
  color: #47a3da;
  background: #fff;
}

.container > header h1 {
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0 0 0.6em 0;
  font-weight: 400;
}

.container > header nav {
  float: right;
  text-align: center;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}
/*MAIN SECTION*/
/*main body of content*/
.main {
  width: 100%;
  padding: 0 2em 3em;
  max-width: 100em;
  margin: 0 auto;
}
/*form section*/
.cbp-mc-form {
  position: relative;
}
/*will place this styling both before and after the -form class*/
.cbp-mc-form:before, .cbp-mc-form:after {
  content: " ";
  display: table;
}
/*I believe this is what keeps the elements from floating after the form*/
.cbp-mc-form:after {
    clear: both;
}
/*the three columns*/
.cbp-mc-column {
  width: 33%;
  padding: 10px 30px;
  float: left;
}
/*all the labels*/
label {
  cursor: default;
}
/*the labels of the form*/
.cbp-mc-form label {
  display: block;
  padding: 40px 5px 5px 2px;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
/*sets the white border around the input and textarea fields in the form*/
.cbp-mc-form input, .cbp-mc-form textarea {
  border: 3px solid #fff;
}
/*styling for the textarea fields in the form*/
.cbp-mc-form textarea {
  min-height: 200px;
}
/*addtional styling to the input, textarea and select fields in the form*/
.cbp-mc-form input, .cbp-mc-form textarea, .cbp-mc-form select {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.4em;
  padding: 5px 10px;
  color: #fff;
  display: block;
  width: 100%;
  background: transparent;
}
/*the submit button box*/
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}
/*the submit button itself*/
.cbp-mc-form input.cbp-mc-submit {
  background: #10689a;
  border: none;
  color: #fff;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  border-radius: 2px;
  letter-spacing: 1px;
}
