/*EVERYTHING*/
body {
	font-family: 'Lato';
	color: #47a3da;
}

div {
    display: block;
}
/*HEADER*/
.clearfix {
	padding: 2.875em 1.875em 1.875em;
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.container > header > span {
    display: block;
    position: relative;
    z-index: 9999;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
}

h1 {
	font-size: 2.125em;
  line-height: 1.3;
  margin: 0 0 0.6em 0;
  font-weight: 400;
	float: left;
}

nav {
    float: right;
    text-align: center;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*BODY*/

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/*Still fuzy on exactly what these two lines do and how they do it*/
body, html { font-size: 100%; padding: 0; margin: 0;}

.main {
	width: 90%;
  max-width: 69em;
	/*margin even right and left*/
	margin: 0 auto;
	/*padding right and bottom and left*/
	padding: 0 1.875em 3.125em 1.875em
}

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	/*margin at the top*/
}

.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}
.cbp_tmtimeline > li {
	position: relative;
}

.cbp_tmtime {
	display: block;
	width: 25%;
	/*padding on the right*/
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

/*This bit of code is what alternates the two shades of blue*/
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
}

.cbp_tmlabel {
	background: #3594cb;
	margin: 0 0 15px 25%;
	color: #fff;
	/*padding all sides*/
	padding: 2em;
	/*margin left and bottom*/
	font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}

h2 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid;
	border-color: rgba(255,255,255,0.4);
	padding: 2em;
	font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

p {
	/*margin top and bottom*/
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
}
